


<div class="container explain ">
   <div class="col-md-12 left-block">
     <p>"Use our T-Log free for 90 days and get to know if it helps your business. We at T-Log believe firmly
       that we have provided a solution which all the Transportation enterprise would face like
       Managing, Maintaining and Decision Making."</p>
       <p> 
        <strong style="color:blue">Happy T-Logging!!!.</strong>
       </p>   
     </div>
</div>
<hr>

<!-- video container  -->

<div class="container   ">
      
     
     <div class=" col-md-3    ">
        <iframe width="560" height="315" [src]='safeUrl' frameborder=0 allowfullscreen></iframe>
    </div>
</div>

<!-- video ends-->

<br><br>

<!-- Simple arts-->

<div class="container  ">
  <div class="row iborder ">

      
      <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12"></div>  
      
   <div class="col-md-3  arts">
     <p>1.Create an Account</p>
   </div>

   <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12"></div>
   


   <div class="col-md-3  arts">
     <p>2.Use T-Log free for 90 days</p>
   </div>

   <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12"></div>


   <div class="col-md-3 arts">
     <p>3.You can get a license and continue <br>
         using T-Log after 90 days</p>
   </div>

  </div>
</div>